*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}

li{
    padding-bottom: 20px;
}
button{
    background-color: #0061FE;
    padding: 6px;
    color: white;
}
h1{
    font-family: 'Archivo Black', sans-serif;
    font-size: 4em;
    padding: 40px 330px 40px 350px;
}

h2{
    font-size: 2em;
    padding-top: 64px;
}

h5{
    font-size: 1.5em;
    padding-bottom: 20px;
}
h6{
    font-size: 1.5em;
    padding-bottom: 30px;
}
.img{
    width: 100%;
    display: block;
}

.img-card{
    max-width: 100%;
    text-align: center;
}

/*.debug{
    border: 1px solid black;
    width: 30%;
    padding: 30px;
}*/


.debug1{
    border: 1px solid black;
}

.container-navbar-header{
    width: 100vw;
    height: 60px;
    align-items: center;
}

.d-flex{
    display: flex;
    justify-content: space-between;
}
.container{    
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.mr-20{
    margin-right: 20px;
}
.mb-20{
    margin-bottom: 30px;
}

.mt-20{
    margin-top: 20px;
}

.ml-10{
    margin-left: 10px;
}
.padding{
padding: 10px;
}
.padding-bottom{
    padding-bottom: 35px;
}

.padding-top{
    padding-top: 35px;
}

.padding-left{
    padding-left: 400px;
}

.container1{
    width: 100%;
    background-color:#B4D0E7;
}

.d-flex-p{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}



.colonna{
    width: calc(100% / 3 - 20px);
    border: 1px solid black; 
    padding: 18px;
    text-indent: 7px;
}

.colonna-header{
    text-align: center;
    border-bottom: 1px solid gray;
    padding: 10px 0;
}
.position-relative{
    position: relative;
    left: 20px;
    bottom: -50px;
}

.main{
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}


.flex-column{
    display: flex;
    flex-direction: column;
}
.small-box{
    width: 20%;
    padding-top: 50px;
}
.large-box{
    width: 80%;
}
.padding1{
    padding: 36px;
}
.button-bianco{
    background-color:white;
    padding: 6px;
    color:black;
    margin: 10px;
}
.card{
    width: calc(100% / 3); 
    padding: 18px;
}
.large-box1{
    width: 60%;
}
.small-box1{
    width: 40%;
}
.display-flex{
    display: flex;
    flex-wrap: wrap;
}
.container-quadrati{
    width: 100%;
}
.quadrati-big{
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

.quadrati-small{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    max-width: 100vw;
    background-color: black;
    padding: 50px 200px 50px 200px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
}
.img-card-quadrati{
    max-width: 50%;
}
.padding-quadrati{
    padding-left: 50px;
    padding-top: 50px;
}
.bg-img1{
    background-color: #A2D39B;
}
.bg-img2{
    background-color: #62082C;
}
.bg-img3{
    background-color: #0193CE;
}
.bg-img4{
    background-color: #FE1C1D;
}
.bg-img5{
    background-color: #F5F5F5;
}
.bg-img6{
    background-color: #D50020;
}
.bg-img7{
    background-color: #B4D0E6;
}
.bg-img8{
    background-color: #0D2481;
}
.bg-img9{
    background-color: #FFD930;
}
.button-bianco-bordi{
    background-color: white;
    color: black;
    padding: 10px 30px;
    margin: 60px;
    border: none;
    display: block;
}
.padding-right{
    padding-right: 78px;
}
.color{
    color: #5A0010;
}